{{ form.wrapper.current_job_classification_fieldset.job_class }}
{{ form.wrapper.current_job_classification_fieldset.curent_home_position }}
<div class="dispute-info hidden" data-dispute-info="curent_home_position">
  <p>{% trans %}Please note that it is very difficult to challenge the classification of a position which is not currently your home position.{% endtrans %}</p>
</div>
{{ form.wrapper.current_job_classification_fieldset.job_description_document }}
{{ form.wrapper.current_job_classification_fieldset.rationale_document }}
{{ form.wrapper.proposed_job_classification_fieldset }}
