{{ form.wrapper.workplace_information_fieldset.department }}
{{ form.wrapper.workplace_information_fieldset.position }}
{{ form.wrapper.workplace_information_fieldset.manager }}

{{ form.wrapper.workplace_information_fieldset.hra_contact }}
<div class="dispute-info hidden" data-dispute-info="hra_contact">
  <p>{% trans %}If you know who your Human Resources Advisor is, please enter their name here.{% endtrans %}</p>
</div>

{{ form.wrapper.workplace_information_fieldset.group_members }}
